:host {
  display: grid;
  grid-template:
    'header' 64px
    'main' 1fr
    'footer' 64px / 1fr;
  min-height: 100vh;
  background-color: #fafafa;

  @media (max-width: 599px) {
    grid-template:
      'header' 56px
      'main' 1fr
      'footer' 56px / 1fr;
  }
}

app-header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10;
}

main {
  grid-area: main;
  width: 100%;
  min-width: 0px;
  max-width: 920px;
  margin: 0 auto;
}

app-footer {
  grid-area: footer;
}
