:host {
  display: grid;
  grid-template:
    'header' 64px
    'main' 1fr
    'footer' 64px / 1fr;
  min-height: 100vh;

  @media (max-width: 599px) {
    grid-template:
      'header' 56px
      'main' 1fr
      'footer' 56px / 1fr;
  }
}

app-header,
app-main,
app-footer {
  margin-left: calc(-1 * env(safe-area-inset-left));
  margin-right: calc(-1 * env(safe-area-inset-right));
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

app-header {
  grid-area: header;
  position: sticky;
  top: env(safe-area-inset-top);
  z-index: 10;
}

app-main {
  grid-area: main;
  min-width: 0px;
  background-color: #fafafa;
}

app-footer {
  grid-area: footer;
}
